header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container button {
    border-color: white;
    background-color: lightblue;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
    width: 200px;
}

#container #reset {
    border-color: white;
    background-color: lightcoral;
    border-radius: 8px;
    margin: 8px;
    padding: 8px;
}

#container #details {
    display: flex;
    margin: 16px;
    gap: 32px;
    padding: 16px;
}